@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bien Venidos</h1>
    <p>Instituto Nuestra Señora De La Paz <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="containerimg"><img src="~/imagen/moa.jpg" alt="Alternate Text" class="imagen" /></div>

